@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0px !important;
  margin: 0px !important;
}

.navbar-custom {
  display: flex;
  height: 6rem;
  background-color: rgb(200, 229, 255);
  padding: 0.6rem 10%;

}

.navbar .logo {
  width: 5rem;
  height: auto !important;
}
.login-button-nav{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}